<div>
    <h3>Child</h3>
    <div>
        <h4>@ChildContent</h4>
    </div>

    @if (SecondContent != null)
    {
        <div>
            <h5>@SecondContent</h5>
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? SecondContent { get; set; }
}
